
.dashboard-container {
    display: flex; 
    height: 100vh; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-top: 60px; // This ensures the content starts below the navbar
}

.sidebar {
  width: 60px;
  background-color: white;
  height: 100%;
  position: relative;
  transition: width 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: calc(100vh - 60px); // Sidebar height adjusted under the navbar
}

.sidebar:hover {
  width: 220px;
}

.content-area {
  flex: 1;
  padding: 0px;
  background-color: #f9f9f9;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  margin-left: 60px;
}

.sidebar:hover ~ .content-area {
  margin-left: 220px; 
}



    
  