<div class="card-container">
  <h2>Card Payment</h2>

  <div *ngIf="!showOtpInput">
    <label for="cardHolderName">Card Holder Name:</label>
    <input
      type="text"
      id="cardHolderName"
      [(ngModel)]="cardHolderName"
      placeholder="Enter Card Holder Name"
      (blur)="validateCardHolderName()"
    />
    <div *ngIf="cardHolderNameError" class="error-message">{{ cardHolderNameError }}</div>

    <label for="cardNumber">Card Number:</label>
    <div class="input-container">
      <input
        type="text"
        id="cardNumber"
        [(ngModel)]="cardNumber"
        placeholder="XXXX XXXX XXXX XXXX"
        (input)="formatCardNumber()"
        maxlength="19"
      />
      <img src="assets/card_logo.png" *ngIf="cardNumber.length >= 16" alt="Card Logo" class="card-logo" />
    </div>
    <div *ngIf="cardNumberError" class="error-message">{{ cardNumberError }}</div>

    <label for="expiryDate">Expiry Date:</label>
    <input
      type="text"
      id="expiryDate"
      [(ngModel)]="expiryDate"
      placeholder="MM/YY"
      (input)="validateExpiryDate()"
      maxlength="5"
    />
    <div *ngIf="expiryDateError" class="error-message">{{ expiryDateError }}</div>

    <label for="cvv">CVV:</label>
    <input
      type="password"
      id="cvv"
      [(ngModel)]="cvv"
      placeholder="***"
      (input)="validateCvv()"
      maxlength="3"
    />
    <div *ngIf="cvvError" class="error-message">{{ cvvError }}</div>

    <button [disabled]="!isFormValid()" (click)="continue()">Continue</button>
  </div>

  <div *ngIf="showOtpInput">
    <label for="otp">Enter OTP:</label>
    <input type="text" id="otp" [(ngModel)]="otp" placeholder="Enter OTP" maxlength="6" />
    <button (click)="pay()">Pay</button>
  </div>

  <div *ngIf="paymentStatus" [ngClass]="paymentStatusClass">
    <span *ngIf="paymentStatusClass === 'error-message'" class="error-icon">✖️</span>
    {{ paymentStatus }}
</div>

<div *ngIf="paymentStatus" [ngClass]="paymentStatusClass">
  <span *ngIf="paymentStatusClass === 'success-message'" class="tick-icon">✔️</span>
  {{ paymentStatus }}
</div>

  <!-- <div *ngIf="paymentStatus" [ngClass]="paymentStatusClass">{{ paymentStatus }}</div> -->

  <!-- <div *ngIf="paymentStatus" class="payment-status">
    <div class="success-message">
      <div class="tick-icon"></div>
      <div class="message-content">{{ paymentStatus }}</div>
    </div>
  </div> -->
</div>
