.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; // White background for a clean look
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;

  .left-section {
    display: flex;
    align-items: center;

    .logo img {
      height: 50px;
      margin-right: 10px;
    }

    .brand {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .brand-title {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        color: #333; // Dark grey for the brand title
        margin: 0;
        white-space: nowrap;
      }

      .brand-slogan {
        font-family: 'Roboto Slab', serif;
        font-size: 14px;
        color: #888; // Lighter grey for the slogan
        font-style: italic;
        margin: 0;
        white-space: nowrap;
      }
    }
  }

  .right-section {
    display: flex;
    align-items: center;
    justify-content: flex-end; // Ensure icons stay at the end of the section

    .login-btn {
      background-color: #f8f9fa; // Light grey background for the button
      color: #333; // Dark text for better readability
      border: 1px solid #ccc; // Subtle border for definition
      border-radius: 5px;
      padding: 8px 16px;
      font-weight: 600;
      transition: background-color 0.3s ease, border-color 0.3s ease;
      margin-right: 15px; // Add margin to space from icons

      &:hover {
        background-color: #e2e6ea; // Slightly darker grey on hover
        border-color: #aaa; // Darker border on hover
      }
    }

    mat-icon-button {
      color: #333; // Dark color for icons
      margin-left: 15px;

      mat-icon {
        font-size: 28px;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// Mobile responsiveness
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;

    .left-section {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .brand {
        flex-grow: 1;
        justify-content: center;
        text-align: center;

        .brand-title {
          font-size: 20px;
        }

        .brand-slogan {
          font-size: 12px;
        }
      }
    }

    .right-section {
      margin-top: 10px;
      justify-content: center; // Center icons and button in mobile view
      width: 100%;

      .login-btn {
        width: auto; // Ensure the button has an appropriate size
        text-align: center;
        margin: 0 10px; // Add horizontal margin for spacing
      }

      mat-icon-button {
        margin-right: 30px;
      }
    }
  }
}
