<div class="payment-container">
  <h2 class="payment-header">Bharat Bijali Payment Gateway</h2>
  <div class="payment-options">

    <button (click)="selectPaymentOption('CASH')" 
            [class.selected]="selectedPaymentOption === 'CASH'" 
            class="payment-button">
      <i class="fa fa-money-bill" aria-hidden="true"></i> CASH
    </button>
    <button (click)="selectPaymentOption('UPI')" 
            [class.selected]="selectedPaymentOption === 'UPI'" 
            class="payment-button">
      <i class="fab fa-cc-amazon-pay" aria-hidden="true"></i> UPI
    </button>
    <button (click)="selectPaymentOption('CARD')" 
            [class.selected]="selectedPaymentOption === 'CARD'" 
            class="payment-button">
      <i class="fa fa-credit-card" aria-hidden="true"></i> Card
    </button>
    <button (click)="selectPaymentOption('NET_BANKING')" 
            [class.selected]="selectedPaymentOption === 'NET_BANKING'" 
            class="payment-button">
      <i class="fa fa-university" aria-hidden="true"></i> Net Banking
    </button>
  </div>

  <div *ngIf="selectedPaymentOption === 'CASH'">
    <app-cash  [billId]="billId"></app-cash>
  </div>
  <div *ngIf="selectedPaymentOption === 'UPI'">
    <app-upi  [billId]="billId" ></app-upi>
  </div>
  <div *ngIf="selectedPaymentOption === 'CARD'">
    <app-card [billId]="billId" ></app-card>
  </div>
  <div *ngIf="selectedPaymentOption === 'NET_BANKING'">
    <app-netbanking  [billId]="billId" ></app-netbanking>
  </div>
</div>
