<div class="sidebar">
  <div class="logo">
    <i class="fas fa-bolt" style="color: blue;"></i> <!-- Use 'fas' for solid icons -->
    <h1 class="brand-text"></h1>
  </div>
  <ul class="nav-list">
    <li>
      <a routerLink="/dashboard/bills"><i class="fas fa-file-invoice-dollar"  style="color: blue"></i> <span>Bills</span></a>
    </li>
    <li>
      <a routerLink="/dashboard/paidbills"><i class="fas fa-chart-bar"  style="color: blue"></i> <span>paidbills</span></a>
    </li>
    <li>
      <a routerLink="/dashboard/transactions"><i class="fas fa-exchange-alt" style="color: blue"> </i> <span>Transactions</span></a>
    </li>
    <li>
      <a href="#"><i class="fas fa-cog"  style="color: blue"></i> <span>Settings</span></a>
    </li>
  </ul>
</div>
