<div class="netbanking-container">
  <h2>Select Net Banking</h2>

  <div *ngIf="!selectedBank && !showOtpInput && !showSuccess">
    <div class="bank-grid">
      <div class="bank-logo" *ngFor="let bank of banks" (click)="selectBank(bank.name)">
        <img [src]="bank.logo" alt="{{ bank.name }}">
      </div>
    </div>
  </div>

  <div *ngIf="selectedBank && !showOtpInput && !showSuccess">
    <h3>{{ selectedBank }}</h3>

    <div class="credentials">
      <label for="netBankingUserName">Username</label>
      <input type="text" id="netBankingUserName" [(ngModel)]="netBankingUserName" placeholder="Enter Username"  maxlength="32">

      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" placeholder="Enter Password"  maxlength="32">
    </div>

    <div *ngIf="showError" class="error">{{ showError }}</div>
    <button (click)="continue()" class="btn">Continue</button>
  </div>

  <div *ngIf="showOtpInput && !showSuccess">
    <h3>OTP Verification</h3>
    <input type="text" class="otp-input" [(ngModel)]="otp" placeholder="Enter 6-digit OTP">
    <button (click)="pay()" class="btn">Pay Now</button>
    <div *ngIf="showError" class="error">{{ showError }}</div>
  </div>

  <div *ngIf="isLoading" class="loading">
    <div class="loader-circle">
      <span class="loader-icon">₹</span>
    </div>
    <div class="payment-text">Processing...</div>
  </div>

  <div *ngIf="showSuccess" class="success-message celebration">
    Payment Successful! Transaction ID: {{ transactionId }} <br> Amount Paid: {{ amount }}
  </div>
</div>
