.main-container {
  // Hero Section Styles
  .hero {
    background-color: white;
    padding: 24px 0;

    .hero-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      width: auto;
      height: 30px;

      h1 {
        font-size: 2rem;
        margin-bottom: 15px;
        padding-bottom: 5px;
        color: #333;
      }

      .subtitle {
        font-size: 1.2rem;
        margin-bottom: 20px;
        color: #666;
      }

      .cta-btn {
        font-size: 1rem;
        padding: 10px 20px;
      }
    }

    .hero-image {
      width: 100%;
      height: auto;
      margin-right: 24px;
    }
  }

  // Benefits and Services Shared Styles
  .benefits,
  .services {
    margin-top: 16px;
    text-align: center;

    h2 {
      font-size: 2.5rem;
      color: #333;
      margin-bottom: 40px;
    }

    mat-grid-tile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .tile-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      mat-icon {
        font-size: 4rem;
        color: #1976d2;
        margin-bottom: 30px;
        margin-right:32px;
      }

      h3 {
        font-size: 1.5rem;
        margin: 10px 0;
        color: #333;
      }

      p {
        font-size: 1rem;
        color: #666;
      }
    }
  }
}
